<html>
<head>
    <title>Simple PassportJS Login</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <h2>Wrong Credentials</h2>
        <a class="btn btn-primary" href="/login" role="button">Try again</a>
    </div>
    <p class="text-center">Coded By: Roman Dulman 2019</p>
</div>
<script src="javascripts\jquery-3.3.1.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
