<html>
<head>
    <title>Simple PassportJS Login</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 formBody">
            <div class="card">
                <div class="card-header">
                    <b>Login</b>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote">
                        <form action="/login" method="post">
                            <div>
                                <label class="col-form-label"><b>Username:</b></label>
                                <input class="form-control" type="text" name="username"/>
                            </div>
                            <div>
                                <label class="col-form-label"><b>Password:</b></label>
                                <input class="form-control" type="password" name="password"/>
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <p class="text-center">Coded By: Roman Dulman 2019</p>
</div>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
